#list-order:hover {
    background-color: rgb(97, 99, 104);
    cursor: pointer;
}

.orderNumber {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.status {
    display: inline-block;
    margin: 0;
    padding: 0;
    float: right;
}

#list-order {
    background-color: rgb(43, 44, 46);
    color: white;
}